
footer.footer
  .container
    .row
      .col-md-4.mb-4
        h4.footer__title VUKHANHSHOP
        p.text-muted Chúng tôi mang đến xu hướng thời trang hiện đại, bền vững và phong cách sống đẳng cấp.
      .col-md-4.mb-4
        h4.footer__title Liên kết
        a.footer__link(href='#') Về chúng tôi
        a.footer__link(href='#') Chính sách đổi trả
        a.footer__link(href='#') Hướng dẫn chọn size
      .col-md-4.mb-4
        h4.footer__title Đăng ký nhận tin
        form
          .input-group.mb-3
            input.form-control(type='email', placeholder='Email của bạn')
            button.btn.btn-light(type='button') Gửi
    hr.border-secondary.mt-4
    .text-center.text-muted.pt-2.
      
      © 2025 LUXE Fashion. Designed by Senior FE.