include ../mixins/sub-menu.pug
include ../mixins/search.pug
include ../mixins/miniCart.pug
header.header
  .container
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand.header__brand(href='/') VUKHANHSHOP
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
        span.navbar-toggler-icon
      .collapse.navbar-collapse.justify-content-center#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link.header__nav-link.header__nav-link--active(href='/') Trang chủ
          li.nav-item
            a.nav-link.header__nav-link(href='/products') Sản phẩm
            +sub-menu(layoutProductsCategory)
          each item in layoutProductsCategory
            li.nav-item
              a.nav-link.header__nav-link(href=`/products/${item.slug}`) #{item.title}
            
          
      .header__actions.d-flex.align-items-center
        button.header__actions-btn.js-search-trigger(type="button")
          i.fas.fa-search
        //- 2. USER ACCOUNT (NEW FEATURE)
        .header__auth
          if (user)
            a.auth-btn(href="/user/info")
              i.far.fa-user.me-1
              span.d-none.d-md-inline #{user.fullName}
            
            span.auth-divider |
            
            a.auth-btn(href="/user/logout" title="Đăng xuất")
              i.fas.fa-sign-out-alt
          else
            a.auth-btn(href="/user/login")
              i.far.fa-user.me-1
              span Đăng nhập
            
            span.auth-divider |
            
            a.auth-btn(href="/user/register")
              i.fas.fa-user-plus.me-1
              span Đăng ký
        
        +miniCart(miniCart)
  +search()
  