html
	head
	body
		section.hero
			.container.text-center
				.row.justify-content-center
					.col-lg-8.hero__content
						h1.hero__title Phong Cách Mùa Hè 2025
						p.hero__desc Khám phá bộ sưu tập mới nhất với thiết kế tối giản và chất liệu cao cấp.
