extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert_success("5000")
    +alert_error("5000")
    h1 Trang dashboard
    //- div #{role.permission}
    //- div #{user}
    
    