extends ../../layouts/default.pug
include ../../mixins/product-layout.pug
block main
    include ../../partials/hero.pug

    +product-section("Sản phẩm nổi bật","Featured Products",records)
    +product-section("Hàng mới về", "New Arrivals",records)   
    +product-section("Bán chạy nhất", "Best Sellers", records) 