
aside.sidebar
    .sidebar__header
        a.sidebar__brand(href='#') VXKSHOP ADMIN
    nav.sidebar__nav
        .sidebar__menu-label Tổng quan
        a.sidebar__link(href=`${prefixAdmin}/dashboard`)
            i.fas.fa-th-large.sidebar__icon
            |  Dashboard

        .sidebar__menu-label Kinh doanh
        a.sidebar__link(href=`${prefixAdmin}/products`)
            i.fas.fa-tshirt.sidebar__icon
            |  Quản lý sản phẩm

        a.sidebar__link(href='#')
            i.fas.fa-list.sidebar__icon
            |  Quản lý danh mục

        a.sidebar__link(href='#')
            i.fas.fa-shopping-cart.sidebar__icon
            |  Đơn hàng

        .sidebar__menu-label Người dùng & Hệ thống
        a.sidebar__link(href='#')
            i.fas.fa-users.sidebar__icon
            |  Quản lý User

        a.sidebar__link(href='#')
            i.fas.fa-user-shield.sidebar__icon
            |  Quản lý tài khoản

        .sidebar__menu-label Phân quyền
        a.sidebar__link(href='#')
            i.fas.fa-users-cog.sidebar__icon
            |  Nhóm quyền

        a.sidebar__link(href='#')
            i.fas.fa-key.sidebar__icon
            |  Phân quyền chi tiết
